altgraph
asgiref
cycler
Django
django-auto-logout
django-crispy-forms
django-mathfilters
fonttools
future
kiwisolver
matplotlib
numpy
packaging
pefile
Pillow
pip
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
pytz
pywin32-ctypes
setuptools
setuptools-scm
six
sqlparse
tomli