{% extends 'main.html' %}
{% block content %}
    <div>  
        <form method=post action="/projekt/viewChange/">
        {% csrf_token %}
        <select id="variable" name="variable">
            {% for variable in possibleVariables %}
                <option value={{variable}}>{{variable}}</option>
            {% endfor %}
        </select>
        <input type="number" id="minutes" name="minutes" min="1" max="60" value={{ minute }}>
        <p><input type=submit value=Compute></form></p>
    
    </div>
    <div id="natlenienie">
        Hello, world. You're at the projekt index.<br>
        {% if chart %}
            <img src="data:image/png;base64, {{ chart|safe}}"/>
        {% endif %}
        <h1>  {{ type }} pomiary </h1>
        {% for list_element in latest_measurements_list %}
            {{ list_element.timestamp|date:"d-m-Y G:i:s" }} --> 
            {{ list_element.natlenienie|floatformat:2 }}
            <br>
        {% endfor %}
    </div>

{% endblock %}


{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    var seconds = 3; 
    window.setInterval('refresh()', seconds * 1000);
        function refresh()
        { 
            $( "#natlenienie" ).load(window.location.href + " #natlenienie" );
        }     
    </script>  
{% endblock %}