{% extends 'main.html' %}
{% block content %}
    <div id="test">
        Hello, world. You're at the projekt index.<br>
        <h1> poziom pomiary </h1>
        {% for list_element in latest_measurements_list %}
            {{ list_element.timestamp }} --> 
            {{ list_element.poziom|floatformat:2 }}
            <br>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        function refresh() {
            $.ajax({
                url: '{% url 'poziom' %}',
                success: function (data) {
                    $('#poziom').replaceWith($('#poziom', data));
                }
            });

        }

        var seconds = 3; // seconds, edit here
        setInterval(refresh(),seconds * 1000);
    </script>

{% endblock %}