{% extends 'projekt/main.html' %}
{% block leftbar %}
<div>  
    <br>
    <form method="post" action="/projekt/viewChange/" onsubmit="return atleast_onecheckbox(event)">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Chart:</label><br>
            <div class="check_fields">
                {% for variable in possibleVariables %}
                    {% if variable != "timestamp" %}
                        <input  class="select-unselect" type="checkbox" id="invite" name="{{variable}}" value="{{variable}}"
                            {% if variable in variables%}
                                checked
                            {% endif %} >
                        <label for="{{variable}}"> {{variable}}</label><br>
                    {% endif %}    
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="form-outline">
            <label class="form-label" for="number">Chart history [min]</label>
            <input type="number" id="minutes" name="minutes" class="form-control" min="1" max="120" value="{{ minute }}"/>
        </div>
        <br>
        <button type="submit" class="btn btn-primary mr-1" >Submit</button>
    </form>
</div>
{% endblock %}

{% block content %}
    <div id="natlenienie">
        {% if chart %}
            <img src="data:image/png;base64, {{ chart|safe}}"/>
        {% endif %}
        <h1>  {{ type }} pomiary </h1>
        <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Datetime</th>
            <th scope="col">{{ variables.0 }}</th>
            {% if noOfVariables == 2 %}
                <th scope="col">{{ variables.1 }}</th>
            {% elif noOfVariables == 3 %}
                <th scope="col">{{ variables.1 }}</th>
                <th scope="col">{{ variables.2 }}</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if noOfVariables == 1 %}
                {% for x, y in resultList %}
                    </tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ x|date:"d-m-Y G:i:s" }} </td>
                    <td> {{ y }} </td>
                    </tr>
                {% endfor %}
            {% elif noOfVariables == 2 %}
                {% for x, y, y2 in resultList %}
                    </tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ x|date:"d-m-Y G:i:s" }} </td>
                    <td> {{ y }} </td>
                    <td> {{ y2 }} </td>
                    </tr>
                {% endfor %}
            {% elif noOfVariables == 3 %}
                {% for x, y, y2, y3 in resultList %}
                    </tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ x|date:"d-m-Y G:i:s" }} </td>
                    <td> {{ y }} </td>
                    <td> {{ y2 }} </td>
                    <td> {{ y3 }} </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        </table>
    </div>

{% endblock %}

{% block rightbar %}
    <div id="rightBarUpdated">
        {% for indicator, value in infoList.items %}
            {{ indicator }} -- {{ value|floatformat:2 }}</br>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function atleast_onecheckbox(e) {
            if ($("input[type=checkbox]:checked").length === 0) {
                e.preventDefault();
                alert('Check minimum 1 variable');
                return false;
            }
            if ($("input[type=checkbox]:checked").length > 3) {
                e.preventDefault();
                alert('Check maximum 3 variables');
                return false;
            }
        }  
    </script>  
    <script type="text/javascript">
        var seconds = 1; 
        window.setInterval('refresh()', seconds * 1000);
        function refresh()
        { 
            $.get(window.location.href)
            .done(function(r) {
                var newDom = $(r);
                $('#natlenienie').replaceWith($('#natlenienie',newDom));
                $('#rightBarUpdated').replaceWith($('#rightBarUpdated',newDom));
            });
        }     
    </script>
{% endblock %}
