{% extends 'projekt/main.html' %}
{% block leftbar %}
<div>  
    <br>
    <form method="post" action="/projekt/dateChange/">
        {% csrf_token %}
        <div class="form-outline" style="top:100px;">
            <label for="start">Start date:</label>
            <input type="date" id="datePicker" name="historyDate"> 
        </div>
        
        <button type="submit" class="btn btn-primary mr-1">Submit</button>
    </form>
</div>
{% endblock %}

{% block content %}
    <form method="post" action="/projekt/dateChange/">
        {% csrf_token %}
        <div class="form-outline" style="top:100px;">
            <label for="start">Start date:</label>
            <input type="month" id="monthPicker" name="month">

        </div>
        
        <button type="submit" class="btn btn-primary mr-1">Submit</button>
    </form>
    <center>
        {% if noData%}
            <strong> No data </strong>
        {% endif %}
        <div id="rightBarUpdated">
            {{returnDict.statsList}} <br>
            {% for items in returnDict.statsList %}
                {{items}} <br>
                {% comment %} {% for indicator, value in items %}
                    {{ indicator }} -- {{ value|floatformat:2 }}</br>
                {% endfor %} {% endcomment %}
            {% endfor %}
        </div>
    </center>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
            function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1;
            var yyyy = today.getFullYear();
          
            if(dd<10) {
                dd = '0'+dd
            } 
          
            if(mm<10) {
                mm = '0'+mm
            } 
          
            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("datePicker").value = today;
            document.getElementById("datePicker").max = today;
          }
          
          
          window.onload = function() {
            getDate();
          };
    </script>  
{% endblock %}