{% extends 'projekt/main.html' %}
{% load mathfilters %}
{% block oneColumn %}
    <div id="schemat">
        <a href="/projekt/minutes/5/data/Substrate"> 
            <div id="substrateText">
                Substrate dosing
            </div>
            <div id="substrate" style="background-image: url('/static/projekt/img/button_{% if latest_measurements_list.Substrate %}on{% else %}off{% endif %}.png');">  
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Level"> 
            <div id="levelText">
                Level [cm]
            </div>
            <div id="level">
                {{latest_measurements_list.Level|floatformat:2}}
            </div>
        </a>
        <div id="levelrys" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) {{100 | sub:latest_measurements_list.Level }}%, rgba(0,0,247,100) {{100 | sub:latest_measurements_list.Level }}%); ">  
            <a href="/projekt/minutes/5/data/Turbidity"> 
                <div id="turbidityText">
                    Turbidity [mg/l]
                </div>
                <div id="turbidity">
                    {{latest_measurements_list.Turbidity|floatformat:2}}
                </div>
            </a>
            <img src="/static/projekt/img/mixer_transparent.png" height="100%" >
        </div>
        <a href="/projekt/minutes/5/data/Temperature"> 
            <div id="temperatureText">
                Temperature [deg C]
            </div>
            <div id="temperature">
                {{latest_measurements_list.Temperature|floatformat:2}}
            </div>
        </a>
        <div id="temperaturerys" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0)  
            {% if latest_measurements_list.Temperature > 40 %}
                0%, rgba(247,0,0,100) 0%); ">  
            {% elif latest_measurements_list.Temperature < 15 %} 
                100%, rgba(247,0,0,100) 100%); "> 
            {% else %}
                {{ temperaturePercent }}%, rgba(247,0,0,100) {{ temperaturePercent }}%); ">  
            {% endif %}
            </div>
        <a href="/projekt/minutes/5/data/Aeration_percentage"> 
            <div id="aerationPercText">
                Aeration [%]
            </div>
            <div id="aerationPerc" >  
                {{latest_measurements_list.Aeration_percentage|floatformat:2}}
            </div> 
        </a>
        <a href="/projekt/minutes/5/data/Aeration"> 
            <div id="aerationText">
                Aeration
            </div>
            <div id="aeration" style="background-image: url('/static/projekt/img/button_{% if latest_measurements_list.Substrate %}on{% else %}off{% endif %}.png');">  
            </div>
        </a>
        <a href="/projekt/minutes/5/data/CO2_10000ppm"> 
            <div id="CO2_10000Text">
                CO2 [10000ppm]
            </div>
            <div id="CO2_10000">
                {{latest_measurements_list.CO2_10000ppm|floatformat:2}}
            </div>
        </a>
        <a href="/projekt/minutes/5/data/CO2_3000ppm"> 
            <div id="CO2_3000Text">
                CO2 [3000ppm]
            </div>
            <div id="CO2_3000">
                {{latest_measurements_list.CO2_3000ppm|floatformat:2}}
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Overflow"> 
            <div id="overflowText">
                Overflow
            </div>
            <div id="overflow" style="background-image: url('/static/projekt/img/button_{% if latest_measurements_list.Substrate %}on{% else %}off{% endif %}.png');">  
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Recycle"> 
            <div id="recycleText">
                Recycle
            </div>
                <div id="recycle" style="background-image: url('/static/projekt/img/button_{% if latest_measurements_list.Recycle %}on{% else %}off{% endif %}.png');">  
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Mixer"> 
            <div id="mixerText">
                MixingS
            </div>
            <div id="mixer" style="background-image: url('/static/projekt/img/button_{% if latest_measurements_list.Mixer %}on{% else %}off{% endif %}.png');">  
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Mixing">
            <div id="mixingText">
                Mixing [%]
            </div>
            <div id="mixing" >  
                {{latest_measurements_list.Mixing|floatformat:2}}
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Flow">
            <div id="flowText">
                Flow [ml/min]
            </div>
            <div id="flow" >  
                {{latest_measurements_list.Flow|floatformat:2}}
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Feed">
            <div id="feedText">
                Feed
            </div>
            <div id="feed" style="background-image: url('/static/projekt/img/button_{% if latest_measurements_list.Feed %}on{% else %}off{% endif %}.png');">  
            </div>
        </a>
        <center><div id="date">{{ latest_measurements_list.timestamp|date:"d-m-Y G:i:s" }}</div></center>

    </div>
    {% endblock %}
    
    {% block anotherColumn %}
    <div id="rightBarUpdated">
        <a href="/projekt/minutes/5/data/pH">
            <div id ="pH">
                <div id ="pHText">
                    <strong> pH</strong>
                </div><br>
                <div id ="pHValue" style="border-style: dotted; border-width: 2px;">
                    {{latest_measurements_list.pH|floatformat:2}}
                </div>
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Redox">
            <div id ="redox">    
                <div id ="redoxText">
                    <strong> Redox [mV]</strong>
                </div><br>
                <div id ="redoxValue" style="border-style: dotted; border-width: 2px;">
                    {{latest_measurements_list.Redox|floatformat:2}}
                </div>
            </div>
        </a>
        <a href="/projekt/minutes/5/data/Oxygen">
            <div id ="oxygen">
                <div id ="oxygenText">
                    <strong> Oxygen [mg/l]</strong>
                </div><br>
                <div id ="oxygenValue" style="border-style: dotted; border-width: 2px;">
                    {{latest_measurements_list.Oxygen|floatformat:2}}
                </div>
            </div>
        </a>
        
    </div>
    {% endblock %}


{% block css %}
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        #schemat{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position:relative;
            background-image:url('/static/projekt/img/schemat2.png');
            height:535px;
            width:1298px;
            min-width: 100%;
            float:left;
        }
        #rightBarUpdated{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position:relative;
            background-color:lightgray;
            height:150px;
            min-width: 100%;
        }
        #substrate{
            position:absolute;
            height:38px;
            left:100px;
            top:126px;
            width:62px;
        }
        #substrateText{
            border-radius: 3px;
            position:absolute;
            height:53px;
            left:20px;
            top:126px;
            width:75px;
            padding:2px;
            border: 1px solid gray;
            background-color: Lime;
            {% comment %} display:inline-block; {% endcomment %}
        }
        
        #levelrys{
            position:absolute;
            left:258px;
            top:210px;
            width:313px;
            height:241px;
            background-color: transparent;
        }
        #levelText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:153px;
            top:200px;
            padding:1px;
            border: 1px solid gray;
            background-color: DeepSkyBlue;
        }
        #level{
            position:absolute;
            left:162px;
            top:238px;
            width:50px;
            height:50px;
        }
        #temperaturerys{
            position:absolute;
            left:104px;
            top:338px;
            width:21px;
            height:100px;
            background-color: transparent;
        }
        #temperatureText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:10px;
            top:290px;
            padding:1px;
            border: 1px solid gray;
            background-color: red;
        }
        #temperature{
            position:absolute;
            left:147px;
            top:367px;
            width:50px;
            height:50px;
        }
        #turbidityText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:150px;
            top:120px;
            padding:1px;
            border: 1px solid gray;
            background-color: darkgray;
        }
        #turbidity{
            position:absolute;
            height:28px;
            left:150px;
            top:150px;
            width:50px;
            padding: 2px;
            display: flex;
            background-color: darkgray;
        }
        #CO2_10000Text{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:520px;
            top:43px;
            padding:1px;
            border: 1px solid gray;
            background-color: darkgray;
        }
        #CO2_10000{
            position:absolute;
            height:28px;
            left:440px;
            top:43px;
            width:50px;
            padding: 2px;
            display: flex;
        }
        #CO2_3000Text{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:520px;
            top:93px;
            padding:1px;
            border: 1px solid gray;
            background-color: darkgray;
        }
        #CO2_3000{
            position:absolute;
            height:28px;
            left:440px;
            top:92px;
            width:50px;
            padding: 2px;
            display: flex;
        }
        #aerationText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:300px;
            top:452px;
            padding:1px;
            border: 1px solid gray;
            background-color: orange;
        }
        #aeration{
            position:absolute;
            left:300px;
            top:480px;
            width:62px;
            height:38px;
        }
        #aerationPercText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:410px;
            top:452px;
            padding:1px;
            border: 1px solid gray;
            background-color: lightblue;
        }
        #aerationPerc{
            position:absolute;
            left:420px;
            top:489px;
            width:62px;
            height:38px;
            display: flex;
        }
        #overflowText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:600px;
            top:250px;
            padding:1px;
            border: 1px solid gray;
            background-color: DeepSkyBlue;
        }
        #overflow{
            position:absolute;
            height:38px;
            left:600px;
            top:278px;
            width:62px;
        }
        #recycleText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:620px;
            top:403px;
            padding:1px;
            border: 1px solid gray;
            background-color: red;
        }
        #recycle{
            position:absolute;
            height:38px;
            left:620px;
            top:448px;
            width:62px;
        }
        #mixerText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:900px;
            top:270px;
            padding:1px;
            border: 1px solid gray;
            background-color: red;
        }
        #mixer{
            position:absolute;
            height:38px;
            left:900px;
            top:300px;
            width:62px;
        }
        #mixingText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:730px;
            top:283px;
            padding:1px;
            border: 1px solid gray;
            background-color: red;
        }
        #mixing{
            position:absolute;
            height:38px;
            left:740px;
            top:315px;
            width:62px;
            display: flex;
        }
        #flowText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:730px;
            top:447px;
            padding:1px;
            border: 1px solid gray;
            background-color: red;
        }
        #flow{
            position:absolute;
            height:38px;
            left:750px;
            top:478px;
            width:62px;
            display: flex;
        }
        #feedText{
            border-radius: 3px;
            position:absolute;
            height:27px;
            left:1150px;
            top:170px;
            padding:1px;
            border: 1px solid gray;
            background-color: red;
        }
        #feed{
            position:absolute;
            height:38px;
            left:1150px;
            top:200px;
            width:62px;
        }
        #pH{
            position:absolute;
            left:20%;
            top:25px;
            width:100px;
        }
        #redox{
            position:absolute;
            left:45%;
            top:25px;
            width:100px;
        }
        #oxygen{
            position:absolute;
            left:75%;
            top:25px;
            width:120px;
        }
        #date{
            left: 200px;
            top: 3%;
            margin: 0 auto;
            position: relative;
            background:lightgray;
            border: 1px solid gray;
            font-weight: bold;
            padding: 5px;
        }
    </style>
{% endblock %}


{% block scripts %}

    <script type="Text/javascript">
        var seconds = 1; 
        window.setInterval('refresh()', seconds * 1000);
        function refresh()
        { 
            $.get(window.location.href)
            .done(function(r) {
                var newDom = $(r);
                $('#schemat').replaceWith($('#schemat',newDom));
                $('#rightBarUpdated').replaceWith($('#rightBarUpdated',newDom));
            });
        }     
    </script>  
{% endblock %}
