<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/projekt/schemat">Schemat instalacji</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projekt/Level">Poziom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projekt/data/Oxygen/minutes/10">Wykresy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projekt/history">Dane historyczne</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand" href="/projekt">Biotechnology installation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/register"><button type="button" class="btn btn-success">Sign In</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><button type="button" class="btn btn-primary">Login</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>